:root {
  --primary-color: #ea7c69;
  --secondary-color: #9288e0;
  --white: #fff;
  --text---dark: #3b5162;
  --text-gray: #889898;
  --text-light: #abbbc2;
  --text---lighter: #e0e6e9;
  --base---bg: #fafafa;
  --base---dark-line: #393c49;
  --base---dark-bg-1: #252836;
  --base---dark-bg-2: #1f1d2b;
  --base---form-bg: #2d303e;
  --accents---green: #50d1aa;
  --accents---red: #ff7ca3;
  --accents---orange: #ffb572;
  --accents---blue: #65b0f6;
  --accents---purple: #9290fe;
  --font-family: "Barlow", sans-serif;
}
